name: tcga-gp
channels:
  - pytorch
  - conda-forge
dependencies:
  - python=3.11
  - pandas
  - requests
  - tqdm
  - pillow
  - numpy
  - tifffile
  - pytorch
  - torchvision
  - pip
  - pip:
      - timm
      - tiler
